* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 50px;
    height: 70px;
    background-color: #197cd3;
    padding: 10px 0;
    
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.logo-img {
    height: 50px;
}
.menu-icon {
    font-size: 3.5em;
    color: #ffffff;
    line-height: 50px;
}
nav {
    position: absolute;
    background-color: #3D4852;
    top:70px;
    left:0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
nav ul li {
    padding: 0 5px;
}
nav ul li a {
    display: inline-block;
    padding: 12px;
    color: #DAE1E7;
    text-decoration: none;
    letter-spacing: 0.05em;
}
nav ul li a:hover, nav ul li a:focus {
    color: #eb6f4a;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ nav ul {
    max-height: 300px;
    padding: 15px 0;
    transition: all 0.5s;
}

@media (min-width: 768px) { 
    .menu-icon {
        display: none;

    }
    nav {
        position: 30px center;
        top: -10px;
        background-color: transparent;
    }
    nav ul {
        max-height: 70px;
        padding: 15px 0;
        text-align: right;
    }
    nav ul li {
        display: inline-flex;
        padding-left: 30px;
    }
}

h1{
    font-size: 2.2em;
    text-align: center;
    padding: 60px 40px 30px;
    color: #3D4852;
    line-height: 1.2;
}
p{
    line-height: 1.6;
    font-size: 1.2em;
    padding: 0 40px;
    text-align: center;
    color: #3D4852;
}
section {
    height: 100vh;
    border: 1px solid block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#home .profile-img {
    width: 300px;
    border-radius: 50%;
}

}
footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: cyan;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}



#home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
}
#project {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
}
#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
}